@model Examen_EV_2_Diego_Berenguer_Celma.Models.PedidosModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PedidosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fechaPedido" class="control-label"></label>
                <input asp-for="fechaPedido" class="form-control" />
                <span asp-validation-for="fechaPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proveedorID" class="control-label"></label>
                <select onchange="this.form.submit()" asp-for="proveedorID" class ="form-control" asp-items="ViewBag.proveedorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="listaProductos" class="control-label"></label>
                <select multiple asp-for="listaProductos" class="form-control" asp-items="ViewBag.pedidosProductos"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
